# python
.ipynb_checkpoints/
__pycache__/

# containers data
pg_data/
pgadmin_data/
prefect_data/

# Terraform dot files
.terraform
.terraformrc
**/.terraform/*
.terraform.d
*.tfstate
*.tfstate.*
terraform.rc
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

# dbt
target/
dbt_packages/
logs/
.user.yml

# misc
.DS_Store
venv/
google.json
